<nav class="navbar navbar-expand-lg navbar-dark navbar-dark bg-dark">
  <a class="navbar-brand" href="https://angular.io/">
    <img src="assets/Logo.png" alt="Bootstrap" width="49" height="38">
  </a>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact</a>
        </li>
      </ul>

    </div>

    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </form>

    <a class="navbar-brand" href="https://twitter.com/angular">
      <img src="assets/twitter.png" alt="Bootstrap" width="44" height="38">
    </a>
    <a class="navbar-brand" href="https://github.com/evidenciasponao/angular-nav">
      <img src="assets/git.png" alt="Bootstrap" width="44" height="38">
    </a>
  </div>
</nav>